@import "../../variables.scss";

.longHeader {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 80vh;
}

@media (max-width: $breakpoint-tablet) {
  .longHeader {
    height: 100vh;
  }
}