.post{
    color: white;
    padding: 10px;

    .profilePicture{
        img{
            height: 40px;
            margin-bottom: 40px;
            border-radius: 100%;
        }
    }

    .postText{
        h1{
            width: 60%;
        }
    }

    .social{
        display: flex;
        list-style: none;
        padding-left: 5px;
        li{
            margin-right: 10px;

            .socialButton{
                display: inline-flex;
                border: 0;
                background: 0;
                font-size: 1.3rem;
                color: white;
                cursor: pointer;
                margin-right: 10px;

                &:focus{
                    outline: 0;
                }

                .socialText{
                    margin: 0 5px;
                }

                .socialSVG{
                    margin: auto;
                }
            }
        }
    }
}