//DM Sans

@font-face {
  font-family: "DM Sans";
  src: url("../assets/Fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/Fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/Fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 600;
}

//PT Serif

@font-face {
  font-family: "PT Serif";
  src: url("../assets/Fonts/PT_Serif/PTSerif-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PT Serif";
  src: url("../assets/Fonts/PT_Serif/PTSerif-Bold.ttf");
  font-weight: 600;
}
