:root {
  --thinPrimary: #6f5dbb;
  --lightPrimary: #5845a5;
  --primary: #482be7;
  --darkSecondary: #1e0f5c;
  --blackSecondary: #0f033f;
  --actionPrimary: #1a83ff;

  --white: #ffffff;

  --fontFamilyPrimary: "DM Sans";
  --fontFamilySerif: "PT Serif";

  --rgbThinPrimary: 111, 93, 187;
  --rgbBlackSecondary: 15, 3, 63;

  --backgroundColor: #fff;
  --zIndexBottom: -1;
}
