:root {
  --thinPrimary: #6f5dbb;
  --lightPrimary: #5845a5;
  --primary: #482be7;
  --darkSecondary: #1e0f5c;
  --blackSecondary: #0f033f;
  --fontFamilyPrimary: "DM Sans";
  --fontFamilySerif: "PT Serif";

  --zIndexBottom: -1;
}
