.pictureBackgroundImg {
  display: flex;
  align-items: center;
  .headerBackgroundImg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: var(--zIndexBottom);
    justify-content: center;
    &.fixHeight {
      height: 100%;
    }
    &.fixWidth {
      width: 100%;
      max-height: 200%;
    }
  }
}
