.btn {
  border: 0;
  border-radius: 30px;
  font-weight: 500;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background: 0;
  position: relative;

  &:focus{
    outline: 0;
  }

  &:active{
    top: 2px;
  }

  &.PRIMARY{
    color: var(--primary) !important;
    background-color: var(--white);
  };

  &.INLINE{
    border: 1px var(--white) solid;
  };

};

